.fondo {
    text-align: center;
    background-color:#EFECEC;
    
}
img.menu{
    width: 67%;
    height: 80%;
}
img.footer{
    width: 50%;
    height: 12%;
}
.fondo-footer{
    text-align: center;
    background-color:#012E6A;
    align-content: center;
}
.cabecera{
    text-align: center;
    background-color:#012E6A;
}
h1{
    color:#ffffff;
}
h2{
    text-align: center;
}
.perfil{
    width: 90%;
    height: 30%;
}
.contenido{
    text-align: center;
}
.item-centrar{
    text-align: center;
}
.button-estilo{
    background-color: #012E6A;
    border-radius: 30px;
}

