img.footer{
    width: 50%;
    height: 12%;
}
.fondo-footer{
    text-align: center;
    background-color:#012E6A;
    align-content: center;
}
.cabecera{
    text-align: center;
    background-color:#012E6A;
    color: #ffffff;
}
.item-estilo{
    align-items: center;
    color: #052C8C;
    background-color: #FAF8F8; 
}
.tamano{
    color: #052C8C;
    text-align: center;
}
.segmen{
    text-align: center;
    width: 30%;
    height: 5%;
}
h2.color{
    color: #ffffff;
}
img.estilo{
    width: 20%;
    height: 5%; 
}
p{
    text-align: center;
}