.fondo {
    text-align: center;
    background-image: url('../assets/img/fondoApp.png')
}
img{
    width: 100%;
    height: 50%;
}
img.footer{
    width: 50%;
    height: 12%;
}
.fondo-footer{
    text-align: center;
    background-color:#012E6A;
    align-content: center;
}
.cabecera{
    text-align: center;
    background-color:#012E6A;
}
.card-estilo{
    text-align: center;
    color: #ffffff;
    background-color: #012E6A; 
}
h1{
    color:#ffffff;
}
img.estilo{
    align-items: center;
    width: 100%;
    height: 55%; 
}
h2{
    text-align: center;
}
