.fondo {
    text-align: center;
    
}
img.menu{
    width: 67%;
    height: 80%;
}
img.footer{
    width: 50%;
    height: 12%;
}
.fondo-footer{
    text-align: center;
    background-color:#012E6A;
    align-content: center;
}
.cabecera{
    text-align: center;
    background-color:#000000;
}

h1{
    color:#25abde;
}
.slide-inicial{
    width: 50%;
    height: 15%; 
}
