.fondo {
    text-align: center;
    background-image: url('../assets/img/fondoApp.png')
}
img{
    width: 50%;
    height: 50%;
}
img.footer{
    width: 50%;
    height: 12%;
}
.fondo-footer{
    text-align: center;
    background-color:#012E6A;
    align-content: center;
}
.cabecera{
    text-align: center;
    background-color:#012E6A;
}
.card-estilo{
    text-align: center;
    color: #ffffff;
    background-color: #012E6A; 
}
h1{
    color:#ffffff;
}
h2.estiloh{
    font-size: medium;
    color: #012E6A;
    background-color: lemonchiffon;
}

.segmento{
    text-align: center;
    background-color:#012E6A;
    color: white;
}
.formato{
    align-content: center;
}
.centrar{
    align-content: center;
}
img.estilo{
    align-items: center;
    width: 5%;
    height: 15%; 
}
