.fondo {
    text-align: center;
    background-image: url('http://www.viacpro.com/ionicConexion/img/fondoApp.png');
}
img.menu{
    width: 65%;
    height: 90%;
}
img.footer{
    width: 50%;
    height: 12%;
}
.fondo-footer{
    text-align: center;
    background-color:#012E6A;
    align-content: center;
}
.cabecera{
    text-align: center;
    background-color:#012E6A;
}
h1{
    color:#ffffff;
}
